# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
.env

# IDEs
.idea/
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# macOS
.DS_Store

# Logs
*.log
